nav {
  position: absolute;
  height: 4vh;
}

.block {
  display: block;
}
#heading {
  @media only screen and (max-width: 1480px) {
    margin-bottom: 5px;
  }
}

.inline-block {
  display: inline-block;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 10%;
  @media only screen and (max-width: 2400px) {
   left: 8%; 
  }
  @media only screen and (max-width: 2300px) {
    left: 6%;
  }
  @media only screen and (max-width: 1800px) {
    top: 50%;
  }
  @media only screen and (max-width: 1480px) {
    top: 15%;
  }
}

.display-flex-row {
  display: flex;
}


#display-show-hide {
  margin-top: 2rem;
}
#display-show {
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  .display-show-child {
    margin-left: 40px;
  }
  @media only screen and (max-width: 1480px) {
      left: 6%;
      .display-show-child {
        margin-left: 0px;
        margin-right: 20px;
      }
    }
    @media only screen and (max-width: 630px) {
      display: flex;
      flex-direction: column;
      top: 35%;
    }
  }








.forecast-container {
  position: absolute;
  top: 32%;
  left: 40%;
  @media only screen and (max-width: 2400px) {
    left: 38%;
  }
  @media only screen and (max-width: 2300px) {
    left: 36%;
  }
  @media only screen and (max-width: 2200px) {
    left: 32%;
  }
  @media only screen and (max-width: 1800px) {
    left: 30%;
  }
  @media only screen and (max-width: 1480px) {
    top: 35%;
    left: 6%;
  }

}

.forecast-inner-outer-container {
  display: flex;
}

.forecast-bottom {
  margin-bottom: 60px;
  @media only screen and (max-width: 1480px) {
    margin-bottom: 20px;
  }
}

.forecast-expanded-div {
  @include forecast-expanded-div;
}



.history-display-flex {
  @include history-display-flex;
}