nav {
  position: absolute;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 10%;
}

.display-flex-row {
  display: flex;
}


#display-show-hide {
  margin-top: 2rem;
}
#display-show {
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  .display-show-child {
    margin-left: 40px;
  }
}







.forecast-container {
  position: absolute;
  top: 32%;
  left: 40%;
}

.forecast-inner-outer-container {
  display: flex;
}

.forecast-bottom {
  margin-bottom: 60px;
}

.forecast-expanded-div {
  @include forecast-expanded-div;
}



.history-display-flex {
  @include history-display-flex;
}