@mixin main-text {
  font-family: $primary-font;
  font-weight: 700;
  color: #FFF;
  font-size: xx-large;
}

@mixin main-options-text {
  font-family: $primary-font;
  font-weight: 700;
  color: #FFF;
  font-size: large;
  margin: 0rem 0rem 1rem 0rem;
  &:hover {
    transform: translate(20px);
    transition: 500ms;
  }
}

@mixin show-info-text {
  display: flex;
  justify-content: space-between;
  font-family: $primary-font;
  width: 300px;
  font-weight: 700;
  color: #FFF;
  font-size: larger;
}

@mixin navbar {
  font-family: $primary-font;
  font-weight: 700;
  color: #002;
  font-size: larger;
}