@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  position: absolute;
  height: 4vh;
}

.block {
  display: block;
}

@media only screen and (max-width: 1480px) {
  #heading {
    margin-bottom: 5px;
  }
}

.inline-block {
  display: inline-block;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 10%;
}

@media only screen and (max-width: 2400px) {
  .main-container {
    left: 8%;
  }
}

@media only screen and (max-width: 2300px) {
  .main-container {
    left: 6%;
  }
}

@media only screen and (max-width: 1800px) {
  .main-container {
    top: 50%;
  }
}

@media only screen and (max-width: 1480px) {
  .main-container {
    top: 10%;
  }
}

.display-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#display-show-hide {
  margin-top: 2rem;
}

#display-show {
  position: absolute;
  top: 50%;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#display-show .display-show-child {
  margin-left: 40px;
}

@media only screen and (max-width: 1480px) {
  #display-show {
    left: 6%;
  }
  #display-show .display-show-child {
    margin-left: 0px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 630px) {
  #display-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 25%;
  }
}

.forecast-container {
  position: absolute;
  top: 32%;
  left: 40%;
}

@media only screen and (max-width: 2400px) {
  .forecast-container {
    left: 38%;
  }
}

@media only screen and (max-width: 2300px) {
  .forecast-container {
    left: 36%;
  }
}

@media only screen and (max-width: 2200px) {
  .forecast-container {
    left: 32%;
  }
}

@media only screen and (max-width: 1800px) {
  .forecast-container {
    left: 30%;
  }
}

@media only screen and (max-width: 1480px) {
  .forecast-container {
    top: 25%;
    left: 6%;
  }
}

.forecast-inner-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forecast-bottom {
  margin-bottom: 60px;
}

@media only screen and (max-width: 1480px) {
  .forecast-bottom {
    margin-bottom: 20px;
  }
}

.forecast-expanded-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

.history-display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: xx-large;
}

@media only screen and (max-width: 2200px) {
  .main-text {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1730px) {
  .main-text {
    font-size: larger;
  }
}

@media only screen and (max-width: 1055px) {
  .main-text {
    font-size: large;
  }
}

.main-display-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: xx-large;
  max-width: 600px;
}

@media only screen and (max-width: 2200px) {
  .main-display-text {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1800px) {
  .main-display-text {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1730px) {
  .main-display-text {
    max-width: 340px;
    font-size: larger;
  }
}

@media only screen and (max-width: 1055px) {
  .main-display-text {
    font-size: large;
    max-width: 600px;
  }
}

@media only screen and (max-width: 360px) {
  .main-display-text {
    font-size: small;
    max-width: 400px;
  }
}

.home-input {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: xx-large;
}

@media only screen and (max-width: 2200px) {
  .home-input {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1730px) {
  .home-input {
    font-size: larger;
  }
}

@media only screen and (max-width: 1055px) {
  .home-input {
    font-size: large;
  }
}

.main-options-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: large;
  margin: 0rem 0rem 1rem 0rem;
}

.main-options-text:hover {
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media only screen and (max-width: 1730px) {
  .main-options-text {
    font-size: medium;
  }
}

@media only screen and (max-width: 1055px) {
  .main-options-text {
    font-size: small;
  }
}

@media only screen and (max-width: 360px) {
  .main-options-text {
    font-size: x-small;
  }
}

.show-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  width: 300px;
  font-weight: 700;
  color: #FFF;
  font-size: larger;
}

@media only screen and (max-width: 1730px) {
  .show-info-text {
    width: 260px;
    font-size: large;
  }
}

@media only screen and (max-width: 1055px) {
  .show-info-text {
    font-size: medium;
  }
}

.navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #002;
  font-size: larger;
}

::-webkit-input-placeholder {
  color: #FFF;
}

:-ms-input-placeholder {
  color: #FFF;
}

::-ms-input-placeholder {
  color: #FFF;
}

::placeholder {
  color: #FFF;
}

.forecast-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  width: 500px;
  font-weight: 700;
  color: #FFF;
  font-size: x-large;
}

@media only screen and (max-width: 2300px) {
  .forecast-text {
    width: 480px;
  }
}

@media only screen and (max-width: 2300px) {
  .forecast-text {
    width: 470px;
  }
}

@media only screen and (max-width: 2200px) {
  .forecast-text {
    width: 420px;
    font-size: larger;
  }
}

@media only screen and (max-width: 1900px) {
  .forecast-text {
    width: 380px;
    font-size: larger;
  }
}

@media only screen and (max-width: 1800px) {
  .forecast-text {
    font-size: large;
  }
}

@media only screen and (max-width: 1730px) {
  .forecast-text {
    width: 300px;
    font-size: medium;
  }
}

@media only screen and (max-width: 1100px) {
  .forecast-text {
    width: 280px;
  }
}

@media only screen and (max-width: 1055px) {
  .forecast-text {
    font-size: small;
  }
}

@media only screen and (max-width: 360px) {
  .forecast-text {
    font-size: x-small;
    width: 200px;
  }
}

.forecast-text-astro {
  font-family: "Roboto", sans-serif;
  width: 350px;
  font-weight: 700;
  color: #FFF;
  font-size: x-large;
  margin-bottom: 20px;
}

@media only screen and (max-width: 2200px) {
  .forecast-text-astro {
    width: 300px;
    font-size: larger;
  }
}

@media only screen and (max-width: 1730px) {
  .forecast-text-astro {
    font-size: large;
  }
}

@media only screen and (max-width: 1480px) {
  .forecast-text-astro {
    font-size: medium;
    width: 240px;
  }
}

@media only screen and (max-width: 1055px) {
  .forecast-text-astro {
    font-size: small;
  }
}

@media only screen and (max-width: 360px) {
  .forecast-text-astro {
    width: 200px;
  }
}

.forecast-options-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: large;
  margin-left: 2rem;
  margin-top: 2.2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (max-width: 1900px) {
  .forecast-options-text {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 1730px) {
  .forecast-options-text {
    font-size: medium;
  }
}

@media only screen and (max-width: 1100px) {
  .forecast-options-text {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1055px) {
  .forecast-options-text {
    font-size: small;
    display: none;
  }
}

.forecast-expanded-title {
  display: block;
  width: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: large;
}

@media only screen and (max-width: 1980px) {
  .forecast-expanded-title {
    font-size: medium;
  }
}

@media only screen and (max-width: 1730px) {
  .forecast-expanded-title {
    font-size: small;
  }
}

@media only screen and (max-width: 1100px) {
  .forecast-expanded-title {
    width: 90px;
  }
}

@media only screen and (max-width: 1055px) {
  .forecast-expanded-title {
    font-size: smaller;
    display: none;
  }
}

.forecast-expanded {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: large;
}

@media only screen and (max-width: 1980px) {
  .forecast-expanded {
    font-size: medium;
  }
}

@media only screen and (max-width: 1730px) {
  .forecast-expanded {
    font-size: small;
  }
}

@media only screen and (max-width: 1055px) {
  .forecast-expanded {
    font-size: smaller;
    display: none;
  }
}

.forecast-symbol {
  font-size: small;
}

.home-input {
  background: rgba(0, 0, 0, 0.1);
  border: none;
}

.home-input:hover, .home-input:focus {
  background: rgba(0, 0, 0, 0);
  outline: none;
  caret-color: #FFF;
}

.number-input {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.number-input:hover, .number-input:focus {
  background: rgba(0, 0, 0, 0);
  outline: none;
}

.number-input {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  width: auto;
}

.number-input:hover, .number-input:focus {
  background: rgba(0, 0, 0, 0);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  background: rgba(0, 0, 0, 0);
  color: #FFF;
}

#screen {
  height: 96vh;
}

.click:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.social-media {
  width: 30px;
}

@media only screen and (max-width: 1024px) {
  .created-by {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */